:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --background-color: #f5f4fa;
  --main-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --btn-main-color: #188ce8;
  --primary-white: #ffffff;
  --accent-white: rgba(255, 255, 255, 0.6);
  --background-footer-hero: #2f303a;
  --logo-secondary-color: ##000000;
  --background-project-color: #eeeeee;
  --main-logo-color: #afb1b8;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  color: var(--main-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.modal-btn {
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: block;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--primary-white);
  background-color: var(--accent-color);
}

.modal-btn:hover, .modal-btn:focus {
  color: var(--primary-white);
  background-color: var(--btn-main-color);
  outline: none;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: transparent;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.social-link-icon {
  width: 20px;
  height: 20px;
  fill: var(--main-logo-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-link-icon,
.social-list-link:focus .social-link-icon {
  fill: var(--primary-white);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: opacity 250ms, visibility 250ms;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primary-white);
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-white);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
}

.modal-close-icon {
  width: 18px;
  height: 18px;
}

.modal-form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: #212121;
}

.modal-form-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-checkbox-policy {
  color: var(--secondary-text-color);
  margin-top: 20px;
}

.modal-form-checkbox-policy::before {
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 16px;
  height: 15px;
  cursor: pointer;
  border: 2px solid var(--main-color);
  margin-right: 7px;
}

.modal-form-checkbox:checked + .modal-form-checkbox-policy::before {
  background-image: url(../images/check.svg);
  border-radius: 2px;
  border: #2196f3;
}

.modal-form-checkbox:focus + .modal-form-checkbox-policy::before {
  border-color: var(--accent-color);
}

.modal-form-policy-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form-btn {
  align-items: center;
  padding: 10px 55px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: var(--primary-white);
  background-color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 30px;
}

.modal-form-btn:hover, .modal-form-btn:focus {
  color: var(--primary-white);
  background-color: var(--btn-main-color);
}

.header {
  background-color: var(--primary-white);
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.menu-list .menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-list .menu-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo-link {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-secondary-color);
  text-decoration: none;
}

.logo-first-link {
  color: var(--accent-color);
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
}

.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: '';
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.menu-link.current {
  color: var(--accent-color);
}

.contact-list {
  display: flex;
  margin-left: 305px;
}

.contact-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-list .contact-item:not(:last-child) {
  margin-right: 30px;
}

.contact-item .link,
.contact-item .link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  outline: none;
}

.content-link-icon-m {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
  transition: fill;
}

.content-link-icon-t {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  transition: fill;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-footer-hero);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/heroimg.jpg");
  background-size: cover;
}

.main-title {
  margin: 0 auto 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white);
}

.about {
  padding-top: 94px;
  padding-bottom: 47px;
}

.about-list {
  display: flex;
  padding-bottom: 0;
  margin-top: -30px;
  margin-left: -30px;
}

.about-item {
  width: calc((100%-120px) / 4);
  margin-top: 30px;
  margin-left: 30px;
}

.about-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.about-description {
  font-size: 14px;
  color: var(--secondary-text-color);
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.about-link-icon {
  width: 70px;
  height: 70px;
}

.work {
  padding-top: 47px;
  padding-bottom: 94px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.work-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.work-list .item {
  margin-left: 30px;
  margin-top: 30px;
}

.item {
  position: relative;
}

.work-card-text {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}

.work-text {
  font-weight: 700;
  line-height: 1.14px;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white);
}

.team {
  color: var(--main-color);
  background-color: var(--background-color);
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.team-card {
  padding: 30px 32px;
}

.team-item .title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.team-item {
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.clients {
  background-color: var(--primary-white);
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  background: transparent;
  border: 1px solid var(--main-logo-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover, .clients-list-link:focus {
  background: transparent;
  border: 1px solid var(--accent-color);
  outline: none;
}

.clients-link-icon {
  width: 106px;
  height: 60px;
  fill: var(--main-logo-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover .clients-link-icon,
.clients-list-link:focus .clients-link-icon {
  fill: var(--accent-color);
}

.footer {
  display: flex;
  background-color: var(--background-footer-hero);
  min-height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-container-adress {
  align-items: center;
}

.logo-secondary-link {
  color: var(--primary-white);
}

.address {
  margin-top: 20px;
  display: block;
}

.address-text {
  margin-bottom: 9px;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.map-link {
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
  color: var(--primary-white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.map-link:hover, .map-link:focus {
  outline: none;
  color: var(--accent-color);
}

.mail-link,
.tel-link {
  font-style: normal;
  font-size: 14px;
  color: var(--accent-white);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-link:hover, .mail-link:focus,
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
  outline: none;
}

.mail-link:hover, .mail-link:focus,
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
  outline: none;
}

.join-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.join-item:not(:last-child) {
  margin-right: 10px;
}

.join {
  margin-left: 70px;
}

.join-text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white);
}

.join-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--main-logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-link:hover, .join-link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.join-link-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-link:hover .join-link-icon,
.join-link:focus .join-link-icon {
  fill: var(--primary-white);
}

.sign-up-form {
  margin-left: 93px;
}

.sign-up-text {
  display: flex;
  color: var(--primary-white);
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.sign-up-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: var(--background-footer-hero);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: relative;
}

.sign-up-input:hover, .sign-up-input:focus {
  outline: none;
  color: var(--primary-white);
}

.sign-up-btn {
  display: inline-flex;
  position: relative;
  min-width: 200px;
  height: 50px;
  margin-left: 12px;
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white);
  background-color: var(--accent-color);
  border: 1px solid #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-up-btn:hover, .sign-up-btn:focus {
  background-color: var(--btn-main-color);
}

.sign-up-icon {
  position: absolute;
  right: 28px;
  bottom: 13px;
  width: 24px;
  height: 24px;
}

.filter {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter .list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-btn {
  height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  display: flex;
  text-align: center;
  background-color: var(--background-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover, .filter-btn:focus {
  outline: none;
  color: var(--primary-white);
  background-color: var(--accent-color);
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06);
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project-item {
  margin-left: 30px;
  margin-top: 30px;
  background-color: var(--background-project-color);
}

.project-card-link {
  display: block;
  padding-top: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card-link:hover,
.project-card-link:focus {
  outline: none;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.16), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.project-card {
  padding: 20px 24px;
  background: var(--primary-white);
  border: 1px solid var(--background-project-color);
  border-top: 0;
}

.project-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

.project-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  width: 100%;
  height: 100%;
  line-height: 1.56;
  color: var(--primary-white);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card-link:hover .overlay,
.project-card-link:focus .overlay {
  transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */