.work {
  padding-top: 47px;
  padding-bottom: 94px;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.work-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.work-list .item {
  margin-left: 30px;
  margin-top: 30px;
}
.item {
  position: relative;
}
.work-card-text {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}
.work-text {
  font-weight: 700;
  line-height: 1.14px;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white);
}
